<body>
  <div class="bodydisplay">
  <div class="dashboard">
    <h2 class="dashheader">Welcome {{name}}!</h2>
    {{#if posts.length}}
    <h2 class="dashheader">You've made {{posts.length}} Posts:</h2>
    {{else}}
    <h2 class="dashheader">Create your first post!</h2>
    {{/if}}
  


  {{#if posts.length}}
    <div>
      <span class="post-list">
  {{#each posts as |post|}}
    <article class="post">
      <div class="posthead">
        <h2 class="posttitle"><a
            href="/posts/update/{{post.id}}"
          >{{post.title}}</a></h2>
        <p class="postdata">Created
          on
          {{format_date post.date_created}}</p>
      </div>
      <div class="postbody">
        <p class="postcontent">{{post.body}}
        </p>
      </div>
    </article>
  {{/each}}
</span>
    </div>
  {{/if}}
  </div>
</div>
<form class="bigcard hidden" id="newpost">
    <div>
      <h2 class="cardheader">New Post</h2>
    </div>
    <div class="cardinput">
      <div class="inputdiv">
        <label for="titleinput">Title</label>
        <input
          id="titleinput"
          type="text"
          name="titleinput"
          placeholder="Title"
        />
      </div>
      <div class="inputdiv">
        <label for="bodyinput">Content</label>
        <textarea
          id="bodyinput"
          name="bodyinput"
          placeholder="What would you like to say?"
        ></textarea>
      </div>
      <button type="submit" id="submitbtn">Submit</button>
    </div>
  </form>
  <button id="addpost">Make a new post</button>
</div></body>

<script src="./js/profile.js"></script><script src="/js/post.js"></script>