<body>
  <div class="bodydisplay">
    {{#each posts as |post|}}
      <article class="post">
        <div class="posthead">
          <h2 class="posttitle"><a
              href="/post/{{post.id}}"
            >{{post.title}}</a></h2>
          <p class="postdata">Created by
            <a href="/profile/{{post.user_id}}">{{post.user.name}}</a>
            on
            {{format_date post.date_created}}</p>
        </div>
        <div class="postbody">
          <p class="postcontent">{{post.body}}
          </p>
        </div>
      </article>
    {{/each}}
  </div>
</body>