<body>
  <div class="dashboard">
    {{#if posts.length}}
    <h2 class="dashheader">{{posts.length}} Posts by this user:</h2>
    {{else}}
    <h2 class="dashheader">This user has not posted yet.</h2>
    {{/if}}
  


  {{#if posts.length}}
    <div>
      <span class="bodydisplay">
  {{#each posts as |post|}}
    <article class="post">
      <div class="posthead">
        <h2 class="posttitle"><a
            href="/post/{{post.id}}"
          >{{post.title}}</a></h2>
        <p class="postdata">Created by
          {{post.user.name}}
          on
          {{format_date post.date_created}}</p>
      </div>
      <div class="postbody">
        <p class="postcontent">{{post.body}}
        </p>
      </div>
    </article>
  {{/each}}
</span>
    </div>
  {{/if}}</div>
</div>
</body>

<script src="./js/profile.js"></script>